body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("campus.jpg");
    background-repeat: repeat-x, repeat-y;
    background-position: center;
    background-size: 1500px 1100px;
    background-color: rgb(241, 241, 233);
}

h1{
    border:5px solid rgb(231, 209, 10);
    color: rgb(20, 19, 19);
    text-align: center;
    margin-bottom: 1px;
    background-color: rgba(0, 89, 255, 0.637);
    border-radius: 10px;
}

nav ul {
    list-style: none;
    margin-left: 10px;
    padding: 0;

  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
    
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  div nav {
    background-color: rgba(0, 89, 255, 0.637);
    border: 5px solid  rgb(231, 209, 10);
    margin-top: 5px;
    border-radius: 10px;
  }

a:hover{
    color:rgb(245, 219, 22) ;
    background-color: black;
}
a:active{
    color:rgb(231, 209, 10) ;

}
.SC {
    text-align:center;
}
.main{
    background-color:rgba(0, 89, 255, 0.637) ;
    border: 2px solid  rgb(231, 209, 10) ;
    margin-right:200px;
    margin-left:200px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
    margin-top: 30px;
    border-radius: 10px;
}
h3{
    color: #020202;
}
p{
    color: #fff;
}
div a {
    text-decoration: none;
}
img {
    border-radius: 30px;
    height: 100px;
    width: 100px;
}